Code/Client/CameraClient/Service References/CameraServiceReference/CameraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CameraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/CameraService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/CameraService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/CameraService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RaspicamServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICameraService_SetupCamera_InputMessage">
    <wsdl:part name="parameters" element="tns:SetupCamera" />
  </wsdl:message>
  <wsdl:message name="ICameraService_SetupCamera_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetupCameraResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_CaptureImage_InputMessage">
    <wsdl:part name="parameters" element="tns:CaptureImage" />
  </wsdl:message>
  <wsdl:message name="ICameraService_CaptureImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaptureImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ICameraService">
    <wsdl:operation name="SetupCamera">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/SetupCamera" message="tns:ICameraService_SetupCamera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/SetupCameraResponse" message="tns:ICameraService_SetupCamera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaptureImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/CaptureImage" message="tns:ICameraService_CaptureImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/CaptureImageResponse" message="tns:ICameraService_CaptureImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICameraService" type="tns:ICameraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetupCamera">
      <soap:operation soapAction="http://tempuri.org/ICameraService/SetupCamera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptureImage">
      <soap:operation soapAction="http://tempuri.org/ICameraService/CaptureImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CameraService">
    <wsdl:port name="BasicHttpBinding_ICameraService" binding="tns:BasicHttpBinding_ICameraService">
      <soap:address location="http://localhost:9000/CameraService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>