Code/Client/RaspicamController/Service References/CameraServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/CameraService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RaspicamServer" />
  <xs:element name="SetupCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RaspicamServer" minOccurs="0" name="parameters" nillable="true" type="q1:RaspicamParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupCameraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureImage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaptureImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>